body {
	margin: 0 auto;
	width: fit-content;
	width: 1000px;
}

#booksList {
	display: flex;
	padding: 0;
	flex-wrap: wrap;
	gap: 12px;
}

#booksList li {
	width: 320px;
	height: 500px;
	list-style-type: none;
}

#booksList li img {
	width: 100%;
	height: 100%;
}

#singleBook .images {
	display: flex;
	height: 600px;
	gap: 10px;
}

#singleBook .images img {
	width: 100%;
	height: 100%;
}
